#page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-block: 1ch;
  padding-inline: 1ch;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  border: none;
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  visibility: hidden;
}

#page-top.visible {
  visibility: visible;
}
