.fulll-line {
  padding: 1rem 0;
  border-image-source: linear-gradient(#10a1da, #10a1da);
  border-image-slice: 0 fill;
  border-image-outset: 0 100vw 0 50px;
}

section {
  margin-inline: max(10px, 50% - 800px/ 2);
  margin-block: 50px;
}

h1 {
  font-size: 3rem;
  color: #fef8f5;
}

p {
  padding: 1.5rem 0;
  font-size: 1.5rem;
  text-align: justify;
  border-image: linear-gradient(#fcddd0, #fcddd0) fill 0//0 50px 0 100vw;
}
