.header {
  --text-color: #fff;

  align-items: center;
  background: #1a6ccc;
  display: flex;
  height: 75px;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  width: 100%;

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  h1 {
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 0;
    padding: 0 2%;
  }

  nav {
    margin-left: auto;
    padding: 0 2%;

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        color: var(--text-color);
        font-size: 1.4rem;
        margin: 0 0 0 15px;
      }
    }
  }

  @media (display-mode: window-controls-overlay) {
    height: env(titlebar-area-height, 33px);
    left: env(titlebar-area-x, 0);
    position: fixed;
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
  }
}
