body {
    font: 1.2em Roboto, sans-serif;
}

.start_container {
    display: flex;
    border: 2px solid #ccc;
    padding: 10px;
    gap: 10px;
    align-items: baseline;
}

.start_container div:nth-child(2) {
    font-size: 200%;
    padding: .5em;
}

.start_container div:nth-child(3) {
    align-self: flex-start;
}

.end_container {
    display: flex;
    border: 2px solid #ccc;
    padding: 10px;
    gap: 10px;
    align-items: last baseline;
}

.end_container div:nth-child(2) {
    font-size: 200%;
    padding: .5em;
}

.end_container div:nth-child(3) {
    align-self: flex-end;
}
