.container {
  padding: 1rem;
  width: 650px;
}

.container > div {
  border: 1px solid #ccc;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  margin-bottom: 1rem;
  overflow: auto;
  padding: 1rem;
}

.container > div .sample1 {
  border: 1px solid #ccc;
  height: 75px;
  overflow: auto;
  overscroll-behavior: auto;
  text-align-last: right;
}

.container>div .sample2 {
  border: 1px solid #ccc;
  height: 75px;
  overflow: auto;
  overscroll-behavior: contain;
  text-align-last: center;
}

.container>div .sample3 {
  border: 1px solid #ccc;
  height: 150px;
  overflow: auto;
  overscroll-behavior: none;
  text-align-last: left;
}
