@charset "UTF-8";

@import url("./base.css");

.no-fouc {
  display: none;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.main {
  grid-column-start: 1;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 5px;
}

.item {
  padding: 20px;
  /* border: 1px solid #333; */
  height: 300px;
}
