.container {
    width: min(100% - var(--padding, 2rem), var(--max-width), 70rem);
    margin-inline: auto;
}

.container--narrow {
    --max-width: 55rem;
}

.container--wide {
    --max-width: 90rem;
}

.container--no-padding {
    --padding: 0;
}

