dialog {
    background-color: black;
    color: #fff;
}

#fullscreen_message {
    display: none;
}

:fullscreen {
    font-size: 1.6rem;
}

:modal {
    background-color: azure;
    color: black;
}
