.sample {
    margin: 1rem;
}

#popover1:popover-open {
    width: 200px;
    height: 200px;
    display: grid;
    place-content: center;
}

#popover2::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

div[popovertarget="popover3"] {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: fit-content;
    cursor: pointer;
}

[popover] {
  transition: opacity 0.2s, transform 0.2s, display 0.2s allow-discrete;

  opacity: 0;
  transform: translateY(3rem);

  &:popover-open {
    opacity: 1;
    transform: none;

    @starting-style {
      & {
        opacity: 0;
        transform: translateY(-1rem);
      }
    }
  }
}
