ol.num li {
  padding-left: 1ch;
}

ol.num li::marker {
  content: '[' counter(list-item) ']';
  color: crimson;
  font-weight: bold;
}


ol.custom li {
  list-style-type: "✔";
  padding-left: 1ch;
}

ol.custom li::marker {
    color: crimson;
}
