@media (resolution: 150dpi) {
  p {
    background-color: #f0f0f0;
  }
}

@media (min-resolution: 72dpi) {
  p {
    background-color: #d34040;
  }
}

@media (max-resolution: 300dpi) {
  p {
    background-color: #4157c4;
  }
}
