@charset "UTF-8";

.header_nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 230px;
}

.header_nav ul {
  margin: 0;
  margin-right: 1rem;
  padding: 0;
}

.header_nav li {
  display: inline-block;
  padding: 8px;
}

.header_nav a {
  color: #fff;
  text-decoration: none;
}
