@charset "UTF-8";

.header_nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header_nav li {
    display: inline-block;
}

.header_nav a {
    padding: 8px;
    color: #fff;
    text-decoration: none;
}