/**
 * Nesting CSS
 *
  * Nest selectors
 * & @ : . > ~ + # [ *
 */

@layer demo {
  .nesting {
    aspect-ratio: 1;
    background: rgb(246, 164, 205);
    display: grid;
    inline-size: 50vmin;
    place-items: center;

    > * {
      grid-area: 1/1;
    }

    > .is {
      aspect-ratio: 1;
      background: rgb(139, 124, 154);
      display: grid;
      inline-size: 50%;
      place-items: center;

      > .awesome {
        aspect-ratio: 1;

        inline-size: 50%;
      }
    }
  }
}

/**
 * if ~ else
 */
complex-selector {
  /* if-styles */

  :not(&) {
    /* else-styles */
  }
}
